// Add your own custom styles here

article img {
  display: block !important;
  margin: 1rem auto !important;
}

.mermaid {
  display: flex;
  justify-content: center;
  background-color: transparent !important;
  padding: 20px;
  border-radius: 8px;
}

/* Force Bauhaus colors on XY Chart lines */
.mermaid .line-plot-0 {
  stroke: #e2b04e !important; /* Mustard */
  stroke-width: 4px !important;
}

.mermaid .line-plot-1 {
  stroke: #ba462f !important; /* Terracotta */
  stroke-width: 4px !important;
}

/* Optional: Make the dots (data points) match */
.mermaid .dot-0 {
  fill: #e2b04e !important;
}
.mermaid .dot-1 {
  fill: #ba462f !important;
}

.mermaid p {
  color: black !important;
}
.mermaid svg {
  /* Give it that screen-printed look */
  filter: contrast(1.1) saturate(0.9);
  border: 4px solid #595653;
  //background-color: #606060 !important; /* The 'Paper' background */
  padding: 30px;
  box-shadow: 10px 10px 0px #ba462f; /* MCM 'Offset' shadow */
}

/* Style the text nodes to look like architectural labels */
.mermaid .node rect,
.mermaid .node circle,
.mermaid .node polygon {
  stroke-width: 3px !important;
}
